<div class="b-feedback {{modStyle}}">
  <div class="b-feedback__fon">
    <img
      srcset="
        {{indexDir}}/assets/img/main/bg-feedback.jpg 1200w,
        {{indexDir}}/assets/img/main/bg-feedback-900.jpg 900w,
        {{indexDir}}/assets/img/main/bg-feedback-600.jpg 600w,
      "
      src="{{indexDir}}/assets/img/main/bg-feedback.jpg"
      alt="feedback"
    >
  </div>
  <div class="b-feedback__wrapp main-wrapp">
    <h2>Остались вопросы?</h2>
    <p>Напишите нам и мы ответим на ваш вопрос</p>
    <form>
      <input type="text" required placeholder="Ваш вопрос">
      <input type="email" required placeholder="Email">
      <button class="btn btn--primary">Отправить</button>
    </form>
  </div>
</div>
