<div class="b-search-link-image-map">
  <div class="b-search-link-image-map__fon">
    <img
      srcset="
        {{indexDir}}/assets/img/main/bg-map-block.jpg 1600w,
        {{indexDir}}/assets/img/main/bg-map-block-1200.jpg 1200w,
        {{indexDir}}/assets/img/main/bg-map-block-900.jpg 900w,
        {{indexDir}}/assets/img/main/bg-map-block-600.jpg 600w,
      "
      src="{{indexDir}}/assets/img/main/bg-map-block.jpg"
      alt="map"
    >
  </div>
  <div class="b-search-link-image-map__content main-wrapp">
    <div>
      <h2>Удобный поиск</h2>
      <a href="#" class="btn btn--primary">Попробовать</a>
    </div>
  </div>
</div>
