<div class="b-subscribe">
  <div class="b-subscribe__fon">
    <img
      srcset="
        {{indexDir}}/assets/img/main/bg-subscribe.jpg 1600w,
        {{indexDir}}/assets/img/main/bg-subscribe-1200.jpg 1200w,
        {{indexDir}}/assets/img/main/bg-subscribe-900.jpg 900w,
        {{indexDir}}/assets/img/main/bg-subscribe-600.jpg 600w,
      "
      src="{{indexDir}}/assets/img/main/bg-subscribe.jpg"
      alt="subscribe"
    >
  </div>
  <div class="b-subscribe__content main-wrapp">
    <h2>Подпишись на наши новости</h2>
    <p>Без спама и рассылок, честно</p>

    <form action="">
      <input type="email" placeholder="Email" required>
      <button class="btn btn--primary" type="submit">Отправить</button>
    </form>
  </div>
</div>
