<div class="magazine-article-favorite">
  <div class="magazine-article-favorite__desc">
    <h2 class="magazine-article-favorite__title">Журнал</h2>
    <p>Кстати, сторонники тоталитаризма в науке набирают популярность среди определенных слоев населения.</p>
    <a href="#" class="btn btn--black">Все статьи</a>
  </div>
  <div class="magazine-article-favorite__items">
    <a href="#" class="magazine-article-favorite-item">
      <div class="magazine-article-favorite-item__img">
        <img
          srcset="
            {{indexDir}}/assets/img/content/magazine-photo.jpg 1600w,
            {{indexDir}}/assets/img/content/magazine-photo-1200.jpg 1200w,
            {{indexDir}}/assets/img/content/magazine-photo-900.jpg 900w,
            {{indexDir}}/assets/img/content/magazine-photo-600.jpg 600w,
          "
          src="{{indexDir}}/assets/img/content/magazine-photo.jpg"
          alt="title"
        >
      </div>
      <div class="magazine-article-favorite-item__desc">
        <b>Нет звука приятнее, чем шопот бессменных лидеров</b>
        <p>Современные технологии достигли такого уровня.</p>
        <span>Читать далее</span>
      </div>
    </a>
    <a href="#" class="magazine-article-favorite-item">
      <div class="magazine-article-favorite-item__img">
        <img
          srcset="
            {{indexDir}}/assets/img/content/photo.jpg 1600w,
            {{indexDir}}/assets/img/content/photo-1200.jpg 1200w,
            {{indexDir}}/assets/img/content/photo-900.jpg 900w,
            {{indexDir}}/assets/img/content/photo-600.jpg 600w,
          "
          src="{{indexDir}}/assets/img/content/photo.jpg"
          alt="title"
        >
      </div>
      <div class="magazine-article-favorite-item__desc">
        <b>Нет звука приятнее, чем шопот бессменных лидеров</b>
        <p>Современные технологии достигли такого уровня.</p>
        <span>Читать далее</span>
      </div>
    </a>
    <a href="#" class="magazine-article-favorite-item">
      <div class="magazine-article-favorite-item__img">
        <img
          srcset="
            {{indexDir}}/assets/img/content/photo2.jpg 1600w,
            {{indexDir}}/assets/img/content/photo2-1200.jpg 1200w,
            {{indexDir}}/assets/img/content/photo2-900.jpg 900w,
            {{indexDir}}/assets/img/content/photo2-600.jpg 600w,
          "
          src="{{indexDir}}/assets/img/content/photo2.jpg"
          alt="title"
        >
      </div>
      <div class="magazine-article-favorite-item__desc">
        <b>Нет звука приятнее, чем шопот бессменных лидеров</b>
        <p>Современные технологии достигли такого уровня.</p>
        <span>Читать далее</span>
      </div>
    </a>
    <a href="#" class="magazine-article-favorite-item">
      <div class="magazine-article-favorite-item__img">
        <img
          srcset="
            {{indexDir}}/assets/img/main/bg-feedback.jpg 1200w,
            {{indexDir}}/assets/img/main/bg-feedback-900.jpg 900w,
            {{indexDir}}/assets/img/main/bg-feedback-600.jpg 600w,
          "
          src="{{indexDir}}/assets/img/main/bg-feedback.jpg"
          alt="photo"
        >
      </div>
      <div class="magazine-article-favorite-item__desc">
        <b>Нет звука приятнее, чем шопот бессменных лидеров</b>
        <p>Современные технологии достигли такого уровня.</p>
        <span>Читать далее</span>
      </div>
    </a>
  </div>
</div>
